modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]
run = "cd ~/SIH2023-Project/webapp && python runner.py" 
# "mosquitto -c ~/SIH2023-Project/.mosquitto/mosquitto.conf & cd ~/SIH2023-Project/webapp && python runner.py"
# Multiple ports
[[ports]]
localPort = 8080
externalPort = 443

[[ports]]
localPort = 9000
externalPort = 9000

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "cd ~/SIH2023-Project/webapp && python runner.py"]
deploymentTarget = "cloudrun"