<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="/css/dashboard_style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Barely Afloat - {{ username }}'s Dashboard - 2023</title>
        <link rel="icon" type="image/png" href="/images/logo.png" />
		<link rel="preload" href="/images/close_icon.png" as="image">
		<link rel="preload" href="/images/device_locate_green.svg" as="image">
        <meta name="viewport" content="width=device-width">
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PFHQ43RCK8"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-PFHQ43RCK8');
		</script>
    </head>
    <body>
        <div class="main-container">
            
        </div>
		<div id="sidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a class="sidebar-link" href="/dashboard/profile">Profile</a>
			<a class="sidebar-link" id="reg_dev_link" href="/dashboard/register_device">Register Device</a>
			<a class="sidebar-link" href="/logout">Logout</a>
		</div>
		<div class="centered-img">
			<img src="/images/flat_logo.png" class="logo">
			<button class="menu" onclick="openNav()" id="menu_btn">
				<div class="hamburger">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
			</button>
		</div>
		<br>
		<div class="set">
			<select id="farm"></select>
			<div class="last-update">Fetching Probes...</div>
			<hr>
			<label class="farm-name">Loading...</label>
			<hr>
			<div class="grid-container">
			</div>
		</div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
        <script src="/js/dashboard.js"></script>
    </body>
</html>
