<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/css/find_device_style.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barely Afloat - Find Device - 2023</title>
    <link rel="icon" type="image/png" href="/images/logo.png" />
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
</head>

<body>
	<script src="/js/loader.js"></script>
	<div class="header"><button onclick="document.location='/dashboard'">← Back</button></div>
    <div class="main-container">
        <div class="find-container">
			<form id="data_form" action="/dashboard/find_device" method="post">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input type="hidden" name="farm_id" value="{{ farm_id }}" required>
				<input type="hidden" name="device_id" value="{{ device_id }}" required>
			</form>
			<div class="find-maps">
				<div id="device-info">Locating Device!</div>
				<div id="map"></div>
				<div id="pose">Fetching Location!</div>
			</div>
    	</div>
	</div>
	<script src="/js/find_device_js.js"></script>
</body>

</html>