<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barely Afloat - Find Device - 2023</title>
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/find_device_style.css">
</head>

<body>
	<div class="header"><button onclick="document.location='/dashboard'">← Back</button></div>
    <div class="main-container">
        <div class="find-container">
            <div class="find-form">
				<ul>
					<li class="center-logo"><img src="/images/flat_logo.png"></li>
					<li id="device-info">Locating Device!</li>
					<li><img id="compass" src="/images/arrow.png"></li>
					<li id="pose">Fetching Location!</li>
				</ul>
        </div>
    </div>
	<script src="/js/find_device_js.js"></script>
</body>

</html>