<!DOCTYPE html>
<html>

<head>
	<title>Barely Afloat - 2023</title>
	<link rel="icon" type="image/png" href="/logo.png" />
	<style>
	.center_align {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		height: 500px;
		width: 500px;
		text-align: center;
	}
	</style>
</head>

<body>
	<div class="center_align">
	    <img src="/logo.png" width="200px"></img>
	    <h1>Coming Soon...</h1>
	    <h1>Barely Afloat</h1>
	    To know more <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs' target="_blank">click here</a>
	</div>
</body>

</html>
