<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/css/login_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barely Afloat Login - 2023</title>
    <link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body>
    <div class="main-container">
		<div class="banner"><p>Please use the following credentials:</p>
			<p>Username: {{ test_user }}</p>
			<p>Password: {{ test_pass }}</p>
		</div>
        <div class="login-container">
            <div class="login-form">
                <img src="/images/flat_logo.png">
                <form action="/login" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                </form>
				<p style="margin:10px;">Don't have an account? <a style="color:rgb(83, 179, 64);background: aliceblue;border-radius: 2px;padding: 2px;" href="/register">Create here</a></p>
            </div>
        </div>
    </div>
</body>

</html>