* {
    margin: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url('/images/login_background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to bottom, transparent 0%, black 200%);
}

.find-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
    width: 75%;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
/*
.find-compass {
	display:none;
	position: absolute;
	margin: auto;
	text-align: center;
	height: 75%;
	width: 100%;
	top: 0;
	bottom: 0;
}

.find-compass img {
	height: 100%;
}
.find-compass .center-logo {
	height: 30%;
}

.find-compass li{
	height:25%;
}

.find-compass ul {
	list-style-type: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
	padding: 0px;
}


@media(min-width:756px){
.find-container {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 50%;
	width: 30%;
	border: 1px solid transparent;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.25);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
}
*/
.find-maps {
	position: absolute;
	margin: auto;
	text-align: center;
	height: 97%;
	width: 95%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.find-container {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 85%;
	width: 80%;
	border: 1px solid transparent;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.25);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.header {
	height: 10%;
	width:100%;
	z-index: 1;
	position: absolute;
}

.header button{
	position: absolute;
	left: 0;
	margin: 10px;
	padding:10px;
	border:1px solid transparent;
	border-radius: 15px;
}

.header button:hover {
	cursor: pointer;
}

#device-info {
	font-size: small;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(10px);
	position: relative;
	z-index: 1;
	border: 1px solid black;
	border-radius: 15px;
	margin: 30px;
	margin-right: 50px;
	margin-top: 10px;
}

#pose {
	font-size: small;
	margin-top: 10px;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(10px);
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	border-radius: 15px;
	margin: 10px;
	margin-right: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	margin-left: 110px;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 15px;
}

.my_location_marker {
  background-image: url('/images/device_locate_green.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
  filter: hue-rotate(180deg);
}

.device_location_marker {
  background-image: url('/images/device_nearby_green.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
  filter: hue-rotate(180deg);
}

@media(min-width:800px){
.find-container {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 90%;
	width: 50%;
	border: 1px solid transparent;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.25);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

#pose {
	font-size: small;
	margin-top: 10px;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(10px);
	position: absolute;
	z-index: 1;
	border: 1px solid black;
	border-radius: 15px;
	margin: 10px;
	margin-right: 50%;
	bottom: 0;
	right: 0;
	left: 0;
	margin-left: 110px;
}
}
